<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jetank">
	<!-- other of kinds of systems are 'actuator' and 'sensor' but 'system' is more general -->

	<!--
		inside the ros2_control tag we define a plugin inside the <hardware> tag to say
		which plugins to load in Gazebo to simulate a real hardware interface
		further we need to define the joints that are controllable.
		In our case we have:
		- the wheels of the Jetank
		- the base of the arm
		- the 2 servo's
		- the gripper
		- (perhaps the camera holder)
		each joint will have state_interfaces
		and command intefaces. That being either
		position or velocity
	-->
	<ros2_control name="jetank_controller" type="system">
		<hardware>
			<plugin>gz_ros2_control/GazeboSimSystem</plugin>
		</hardware>

		<joint name="turn_ARM">
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="DRIVING_WHEEL_LEFT">
			<command_interface name="velocity">
				<param name="min">-10</param>
				<param name="max">10</param>
			</command_interface>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="DRIVING_WHEEL_RIGHT">
			<command_interface name="velocity">
				<param name="min">-10</param>
				<param name="max">10</param>
			</command_interface>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="FREE_WHEEL_LEFT">
			<command_interface name="velocity">
				<param name="min">-10</param>
				<param name="max">10</param>
			</command_interface>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="FREE_WHEEL_RIGHT">
			<command_interface name="velocity">
				<param name="min">-10</param>
				<param name="max">10</param>
			</command_interface>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="SERVO_UPPER_">
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="SERVO_LOWER_">
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="GRIPPER_LEFT_1">
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="GRIPPER_RIGHT_1">
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="GRIPPER_RIGHT_2">
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>

		<joint name="GRIPPER_LEFT_2">
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>


	</ros2_control>

	<!-- All other sensors such as Camera's, LiDAR's, IMU , etc... -->

	<!--Dummy link -->
	<link name="DUMMY_CAMERA"/>
	<link name="CAMERA_OPTICAL"/>

	<!-- Joint from camera to Dummy link -->
	<joint name="dummy_camera_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 ${PI} 0" />
        <parent link="CAMERA" />
		<child link="DUMMY_CAMERA" />
	</joint>
	<joint name="camera_optical_joint" type="fixed">
		<origin xyz="0 0 0" rpy="${-PI/2} 0 ${-PI/2}" />
		<parent link="DUMMY_CAMERA" />
		<child link="CAMERA_OPTICAL" />
	</joint>

	<gazebo reference="DUMMY_CAMERA">
		<sensor name="camera" type="camera">
			<pose> 0 0 0 0 0 0 </pose>
			<visualize>true</visualize>
			<update_rate>10</update_rate>
			<camera>
				<camera_info_topic>camera/camera_info</camera_info_topic>
				<horizontal_fov>1.089</horizontal_fov>
				<image>
					<!-- (RED) 8 bits + (BLUE) 8 bits  + (GREEN) 8 bits -->
					<format>R8G8B8</format>
					<width>640</width>
					<height>480</height>
				</image>
				<clip>
					<near>0.05</near>
					<far>8.0</far>
				</clip>
			</camera>
			<topic>camera/image_raw</topic>
            <gz_frame_id>CAMERA_OPTICAL</gz_frame_id>
		</sensor>
	</gazebo>


	<!--
		required for Gazebo such that ros2_control can work.
		We need to load a config file to tell what controllers to load
	-->
	<gazebo>
		<plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
			<parameters>
				$(find jetank_description)/config/jetank_controllers.yaml
			</parameters>
		</plugin>

	</gazebo>
</robot>
